body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.login-page {
  background-color: #41b5e8;
  height: 100vh;
  padding-top: 20vh;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  background-color: #d6d8dc;
  width: 60%;
  padding: 4rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

.login-header {
  color: white;
}

.login-input {
  width: 60%;
  font-size: 16px;
}

.login-button {
  width: 60%;
  font-size: 16px;
  padding: 5px;
  color: white;
  background-color: #286dcf;
}


/* footer nav */
.footer-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-nav-ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
}

.footer-nav-li {
  width: 25%;
}

.footer-nav-li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313944;
  font-size: 10px;
  padding: 1rem 0 1rem 0;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.footer-nav-li a :focus {
  background-color: #5bb5e5;
}

/* Measurement */

.measurement-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: #f3f4f6;
}

.measurement-page-header {
  background-color: #41b5e8;
  color: white;
}

.measurement-header {
  background-color: #fdfdff;
  height: fit-content;
  padding: 1rem 0 1rem 0;
  color: #c1c6cd;
}

.measurement-header h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.measurement-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.measurement-form {
  width: 14rem;
  height: 14rem;
  border-radius: 7rem;
  background-color: #fafbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.measurement-input {
  width: 10rem;
  font-size: 3rem;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  border: 0;
}

.measurement-button {
  border: none;
  background-color: #fafbfb;
  font-size: 3rem;
  color: #41b5e8;
}

.measurement-selector {
  width: 80%;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4%;
}

.measurement-selector-btn1 {
  width: 46%;
  height: 3rem;
  background-color: #fdfdfd;
  border: none;
  box-shadow: none;
  color: #91969c;
  font-weight: 700;
}

.measurement-selector-btn2 {
  width: 46%;
  height: 3rem;
  background-color: #97E494;
  border: none;
  color: #fdfdfd;
  font-weight: 700;
}

/* Measured */
.measured-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfdfd;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.measured-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.measured-info {
  margin-left: 1rem;
}

.measure-date {
  color: #728397;
  font-size: 18px;
  font-weight: 700;
}

.name-measured-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #b9c1c9;
  font-size: smaller;
  font-weight: 700;
}

.measure-name {
  margin-right: 0.3rem;
}

.diff {
  color: #b9c1c9;
  font-weight: 700;
}

.diff-val {
  color: #556b82;
  font-size: 20px;
}
/* measureds */

.measureds-wrapper {
  height: 70vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.measureds-list {
  width: 100%;
}

.measureds-selector {
  position: absolute;
  bottom: 4rem;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dir-btn {
  background-color: transparent;
  border: none;
  font-size: 50px;
  color: #5bb5e5;
  padding: 0;
  opacity: 0.3;
}

.loader-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 16px solid #c7c0c0; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 30vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* measureds by date */

.measureds-by-date-date {
  color: #7f8fa0;
  font-size: 20px;
}

.measureds-date-selector {
  position: absolute;
  top: 10%;
  padding: 0 5% 0 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.measureds-by-date-wrapper {
  height: 70vh;
  overflow: scroll;
}

.measureds-by-date {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4% 0 4% 4%;
  background-color: #f3f4f6;
}



/* measured-by-date */

.measured-by-date {
  width: 38%;
  justify-content: space-between;
  margin: 0 4% 4% 0;
  padding: 1rem;
  background-color: #fdfdfd;
  color: #a5b0bb;
  text-decoration: none;
}

.measured-by-date-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.measured-by-date-info {

}

.measured-by-date-name {

}

.measured-by-date-measured {
  
}

.measured-by-date-img-div {
  width: 40px;
  height: 40px;
  color: #9ed8f2;
  font: bolder;
}

.measured-by-date-img {
  width: 40px;
  height: 40px;
}

.measured-by-date-info {
  display: flex;
  flex-direction: column;
}

/* Progress Bar */
.progress-bar {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #f3f4f6;
}

/* Progress */

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  color: #a7abaf;
  overflow: scroll;
  height: 70vh;
  font-size: 18px;
}

.progress-val {
  padding: 1rem;
  color: #95e393;
}

.progress-val-div {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.progress-togo-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fdfdfd;
  padding: 2% 0 2% 0;
} 

.progress-togo {

}

.progress-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #ebeef1;
}

.progress-bar-wrapper {
  width: 90%;
  background-color: #fdfdfd;
  margin-top: 4%;
}

.progress-to-goal {
  padding: 0.5rem;
  display: block;
}

.baseline-goal-div {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.variable-data {
  /* background-color: #fdfdfd; */
  width: 90%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current, .score {
  width: 48%;
  background-color: #fdfdfd;
  font-size: 16px;
  padding-bottom: 1rem;
}

.progress-current, .progress-score {
  font-size: 26px;
  color: #8be187;
  font-weight: 700;
}

.progress-measureds-selector {
  position: fixed;
  top: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goal-value {
  color: #4dbbe9;
}

/* more */

.more {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
}

.user-profile {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

.user-img {
  width: 50px;
  height: 40px;
  border-radius: 25px;
  background-color: #687b8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.user-img-head {
  width: 20px;
  height: 24px;
  border-radius: 10px;
  background-color:#eeeff1;
}

.user-img-body {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: #eeeff1;
}

.username {
  margin-left: 1rem;
  color: #687b8f;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.more-ul {
  background-color: #eeeff1;
  list-style: none;
  display: flex;flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.more-li {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.more-link {
  text-decoration: none;
  width: 90%;
  padding: 0 5% 0 5%;
  border-bottom: 2px solid #ebebec;
  color: #76808a;
}

.more-li-title {
  margin-left: 1rem;
}

/* goal */
.goal {
  overflow: scroll;
  height: 70vh;
}

.goal-title {
  color: #76808a;
  font-size: 20px;
  background-color: #fdfdfd;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 1rem;
}

.goal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eeeff1;
  margin: 4%;
}

.goal-form-inner-div {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-bottom: 2px solid #ebebec;
  color: #76808a;
}

.goal-form-select, .goal-form-input, .goal-form-date-input {
  height: 2rem;
  width: 60%;
  border-color: #ebebec;
}

.goal-form-date-input {
  width: 40%;
}

.goal-form-btn {
  width: 100%;
  height: 3rem;
  margin-top: 3rem;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  background-color: #5bb5e5;
  opacity: 50%;
}
