body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.login-page {
  background-color: #41b5e8;
  height: 100vh;
  padding-top: 20vh;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  background-color: #d6d8dc;
  width: 60%;
  padding: 4rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

.login-header {
  color: white;
}

.login-input {
  width: 60%;
  font-size: 16px;
}

.login-button {
  width: 60%;
  font-size: 16px;
  padding: 5px;
  color: white;
  background-color: #286dcf;
}


/* footer nav */
.footer-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-nav-ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
}

.footer-nav-li {
  width: 25%;
}

.footer-nav-li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313944;
  font-size: 10px;
  padding: 1rem 0 1rem 0;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.footer-nav-li a :focus {
  background-color: #5bb5e5;
}

/* Measurement */

.measurement-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: #f3f4f6;
}

.measurement-page-header {
  background-color: #41b5e8;
  color: white;
}

.measurement-header {
  background-color: #fdfdff;
  height: fit-content;
  padding: 1rem 0 1rem 0;
  color: #c1c6cd;
}

.measurement-header h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.measurement-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.measurement-form {
  width: 14rem;
  height: 14rem;
  border-radius: 7rem;
  background-color: #fafbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.measurement-input {
  width: 10rem;
  font-size: 3rem;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.measurement-button {
  border: none;
  background-color: #fafbfb;
  font-size: 3rem;
  color: #41b5e8;
}